<template>
<div class="row">
  <p class="not">404, Esta página no existe. 
    <a  @click="goHome" href="javascript:void(0);"
      style="color:blue!important">
      Regresar
    </a>
  </p>   
</div>  
</template>
<script>
export default {
  name:'NotFound',
  methods:{
    goHome(){
      this.$router.push('/')  
    }
  }
}
</script>
