<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="register">
          <h1 class="h3 mb-3 font-weight-normal">Nuevo vehiculo</h1>

          <div class="form-group">
            <label for="first_name"> Marca</label>
            <input type="text" v-model="marca" class="form-control" name="Marca" placeholder="Marca">
          </div>

          <div class="form-group">
            <label for="last_name"> Modelo</label>
            <input type="text" v-model="modelo" class="form-control" name="Modelo" placeholder="Modelo">
          </div>

          <div class="form-group">
            <label for="email"> Potencia</label>
            <input type="text" v-model="potencia" class="form-control" name="potencia" placeholder="Potencia">
          </div>

          <div class="form-group">
            <label for="password"> Caracteristicas</label>
            <input type="text" v-model="caracteristicas" class="form-control" name="caracteristicas" placeholder="Caracteristicas">
          </div>

          <button class="btn btn-lg btn-primary btn-block">Guardar</button>
        </form>
      </div>
    </div>
  </div>

</template>


<script>
    import axios from 'axios'
    import router from '../router'

    export default{
        data(){
            return {
                marca: '',
                modelo: '',
                potencia: '',
                caracteristicas: '',
            }
        },

        methods:{
            register() {
                axios.post('api/v1/vehiculos',
                    {
                        marca:this.marca,
                        modelo:this.modelo,
                        potencia:this.potencia,
                        caracteristicas: this.caracteristicas
                    })
                    .then((res) => {
                        console.log(res)
                        router.push({name: 'Login'})
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },


        }
    }
</script>