<template>
  <div class="container">
    <div class="col-md-12">
          <p><strong>Se encontraron {{count}} resultados en la búsqueda:</strong></p>
          <table class="table table-responsive table-bordered datos small-top-buffer">
            <thead>
              <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Nombre</th>
                
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in Listado" :key="index">
                <td>{{item.marca}}</td>
                <td>{{item.modelo}}</td>
                <td>{{item.name}}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
  </div>

</template>


<script>
    import axios from 'axios'
    import router from '../router'

    export default{
        data(){
            return {
                marca: '',
                modelo: '',
                potencia: '',
                caracteristicas: '',
            }
        },

        methods:{
            listado() {
                axios.get('/api/v1/listado-vehiculos')
                .then(function (response) {
                    self.Listado = response.data.results;
                    
                  }).catch(function (error) {

                    });
            },


        }
    }
</script>